body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.background-image {
    position: fixed; /
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagens/Background\ menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1; /
}

@font-face {
    font-family: 'SuperMarioBros';
    src: url('../fontes/SuperMario256.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'SuperMarioBros', cursive;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(to bottom, yellow, red);
    margin-bottom: 290px;
    font-size: 68px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu button {
    font-family: 'SuperMarioBros', cursive;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(to bottom, yellow, red);
    margin-bottom: 350px;
    font-size: 68px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.menu button:hover {
    background-color: #45a049;
    outline: none;
}